/* Customize the label (the container) */
.checkbox {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 22px;
  }

  /* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: var(--color__base__grey_1);
  }
  
  /* When the checkbox is checked */
  .checkbox-input:checked ~ .checkbox {
    background-color:var(--color__color__brand1);
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkbox-label::after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .checkbox-input:checked ~ .checkbox-label::after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .checkbox-label::after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: var(--color__base__white1);
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }